* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color:dimgrey;
}
.content {
  display: flex;
  height: 100vh;

}

.left-container {
  border: 1px solid black;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

.right-container {
  border: 1px solid red;
  padding-left: 40px;
  padding-top: 20px;
  flex: 1;
}

.search-container {
  display: flex;
  gap: 10px;
}

.search-input {
  width: 400px;
  height: 30px;
}

.display-container {
  border: 1px solid blue;
  margin-top: 30px;
  margin-right: 30px;
  padding-left: 30px;
}

.date-time {
  display: flex;
  gap: 10px;
}

h3 {
  font-size: 3rem;
  color: white;
}

.temperature {
  font-size: 5rem;
  color: white;
}

.logo-temp {
  display: flex;
  align-items: center;
  gap: 24px;
}

.weather-icon {
  width: 200px;
  height: 200px;
}

.current-information {
  display: flex;
  gap: 30px;
  padding-bottom: 20px;
}

.condition-container {
  display: flex;
}

.grid-container {
  padding-top: 20px;
}

.forecast-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.forecast-temp {
  display: flex;
  gap: 30px;
}